[<img style="width:100%" src='https://s3.amazonaws.com/dsmcmu/Capture1.JPG'>]()

# Introduction

In this project, we will be explaining the steps taken to create the back-end of a web application that displays data science-related jobs for analysis purpose. **This project aims to help people who are applying for data science positions in the U.S to have an overlook on the data science jobs trends** to analyze and take further decisions concerning:

 - Top Data science skills that are in deman on a daily basis.
 - U.S cities that hires the most data scientists.
 - Average salary on a daily basis of a data scientist in a specific U.S city.
 
When a user visits the Data Science Market website, he will have access to the top data science skills trends, their movements over a certain period of time, the trends of the U.S cities that hires the most Data Scientists and the flow of their demand over a period of time. Also the access to the average salary of data scientist in some major US cities. With this platform, we believe that anyone who is applying or thinking to apply for a data science job will have a solid estimate about the current scenario and happenings in the data science world and all these informations will help them to decide their strategies like how to formulate their resumes, which cites to apply for a better success ratio in according to the demand of data scientisits as well as what salary to expect based on the current job market.
 
> All data have been scrapped from [Dice](https://www.dice.com/), a very popular career website. Below is the list of scrapped features:
- `Employeer`
- `company_name`
- `date_posted` (The day the job was posted on Dice)
- `empl_type`
- `job_title`
- `location`
- `salary`
- `skills`


> FYI: Data has been scrapped automatically every day at 11 pm. This notebook is about the business logics behind the calculations and the one that we took to build the web application.


For every section of this notebook, we will be creating 7 SQL tables stored on a local server (localhost).
The structure of the web application is as follows:

- For every page, we will be displaying a list of the 40 most frequent skills, cities, and salaries by cities. The three lists will hold the 40 most frequent categories (Skills, Cities, and Salaries).
- For every page, we will be displaying a line-chart that shows the frequency of the skills, cities and salaries since we started scrapping the data.

### Screenshots of the Web application.

URL of the web application: http://ec2-34-207-60-106.compute-1.amazonaws.com:8080/

[<img style="width:100%" src='https://s3.amazonaws.com/dsmcmu/Untitled.png'>]()

# Content

**1. [Skills Processing](#1.-Skills-Processing)** 
    - All Skills.
    - 40 most frequent skills.
**2. [Cities Processing](#2.-Cities-Processing)**
    - All Cities.
    - 40 most frequent cities. 
**3. [Salaries Processing](#3.-Salaries-Processing)**
    - All Salaries by cities.
    - Most paying cities.

- Let's first upload the different libraries, there will be no need to download an external package, all the packages are present in the Anaconda environement.

In [1]:
import pandas as pd
import numpy as np
import sklearn
import nltk
import re
from collections import Counter
from datetime import datetime, timedelta
from pandas.io import sql
# Package to create a connexion to local MySql server
from sqlalchemy import create_engine

- After we are done with importing python packages, let us run our first script. 
- We will be uploading the file using Pandas read_csv.

In [2]:
data = pd.read_excel('Dice Back up.xlsx')
#Output of the data file.
data.head()

,company_name,date_posted,empl_type,job_title,location,salary,skills
0,Dex Media,2018-04-22,full-time,Principal Network Engineer,"Dfw-airport, TX",Depends On Experience,"Architecture, Call Center, CCIE, CCNP, Change ..."
1,Dex Media,2018-04-22,full-time,Lead Sales Force/Software Engineer,"Dfw Airport, TX",Depends On Experience,"Android, API, B2B, Development, Graphics, iOS,..."
2,Cardtronics,2018-04-22,full-time,Cash Install Analyst,"Houston, TX",Competitive,Cash Install Analyst
3,Cardtronics,2018-04-22,full-time,Service Delivery Specialist,"Frisco, TX",Competitive,Service Delivery Specialist
4,Cardtronics,2018-04-22,full-time,Director of Investigations,"Frisco, TX",Competitive,Director of Investigations

- Next, we will be downloading the NLTK sub packages which comes with many corpora, toy grammars, trained models, etc. This project requires NLTK's stopwords list and WordNetLemmatizer.

In [3]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\medSr\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\medSr\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\medSr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

## 1. Skills Processing

- In the first section, we will be processing and cleaning the data which belong to the skills column. 
Before any move, we will split the file into an array of n dataframes; n represents the number of days.

In [4]:
def split_data(data):
    indices = []
    i = 1
    indices.append(0)
    while i < len(data):
        if data['date_posted'].iloc[i] > data['date_posted'].iloc[i - 1]:
            indices.append(i)
        i+=1
    indices.append(i)
    return [data[a:b].set_index('date_posted') for (a,b) in zip(indices[:-1], indices[1:])]

In [5]:
split = split_data(data)
#let's display the Dataframe from the first day
split[0].head()

,company_name,empl_type,job_title,location,salary,skills
date_posted,,,,,,
2018-04-22,Dex Media,full-time,Principal Network Engineer,"Dfw-airport, TX",Depends On Experience,"Architecture, Call Center, CCIE, CCNP, Change ..."
2018-04-22,Dex Media,full-time,Lead Sales Force/Software Engineer,"Dfw Airport, TX",Depends On Experience,"Android, API, B2B, Development, Graphics, iOS,..."
2018-04-22,Cardtronics,full-time,Cash Install Analyst,"Houston, TX",Competitive,Cash Install Analyst
2018-04-22,Cardtronics,full-time,Service Delivery Specialist,"Frisco, TX",Competitive,Service Delivery Specialist
2018-04-22,Cardtronics,full-time,Director of Investigations,"Frisco, TX",Competitive,Director of Investigations

- After we split our file into several dataframes, we will then start processing and cleaning the data. Because the data was scraped from [Dice](https://www.dice.com/) and entered manually by recruiters, we have noticed that some cleaning is needed. such as eliminating unnecessary punctuations.

In [6]:
# skills text processing
def cleaning(text,lemmatizer=nltk.stem.wordnet.WordNetLemmatizer()):
    text = str(text)
    text = text.lower()
    punctuation = set(re.findall(r"[^\w\s]+", " ".join(text))) - {','}
    #Replace punctuation by a space
    for c in punctuation:
        if c in text:
            text = text.replace(c, ' ')
    #Some rows are not data seperate by comma.
    if ',' not in text:
        text = text.replace(' ', ',')

    return text.strip()

In [7]:
#Calling the above function on the 'Skills' column
list_process = []
for i in range(len(split)):
    arr = []
    for j in split[i]['skills']:
        processing = cleaning(j)
        arr.append(processing)
    list_process.append(arr)

- Second function is to calculate the frequency of each skills as a word in a single day. This why we split the data at first.

In [8]:
#word frequency
def tfidf_skills(data):
    all_words = {doc for doc in data}
    wordIndexDict = {word:i for i,word in enumerate(list(all_words))}
    
    number_word = 0
    docWordCounts = {}
    for i,doc in enumerate(data):
        doc = str(doc)
        words = doc.split(', ')
        counts = Counter(words)
        
        docWordCounts[i] = dict(counts)
    df = {}

    for doc, wordCountDict in docWordCounts.items():
        for word in wordCountDict.keys():
            if word in df:
                df[word] += 1
            else:
                df[word] = 1
    return df

- We have also noticed that some words have typos and tends to be very low in frequency, so we have decided to delete them with the help of a function mentioned below. Basically filtering words that have a frequency of 1.

In [9]:
def delete_rare_words(data):
    words = []
    for i in data.items():
        if i[1] > 2:
            words.append(i)
    return words

In [10]:
skills_tfidf = [tfidf_skills(list_process[i])for i in range(len(list_process))]
delete_words = [delete_rare_words(skills_tfidf[i])for i in range(len(split))]

- After we cleaned the skills column from unwanted characters and delete the rare words, we will change the format of the output into n dataframes which holds only the skills and their dates where n is the total number of days.

In [11]:
array = []
for i in range(len(split)):
    d={ 'skill': delete_words[i],'date':split[i].first_valid_index().date()}
    array.append(pd.DataFrame(data=d))

In [12]:
#Seperate the word and their frequencies
for i in array:
    i[['skill','frequency']] = i['skill'].apply(pd.Series)

In [13]:
#Unnecessary skills. A bag of words of skills that don't directly mean or define a data scientist skill.
unecessary_skills = ['project','manager','developer','analyst','management',
              'networking','see,job,description','laptop','software engineer',
              'applications','application','project manager','recruiter','director',
             'accounting','data analysis','engineering','analytical skills']

- We will be deleting unnecessary skills.

In [14]:
for i in range(len(array)):
    for j in range(len(unecessary_skills)):
        array[i] = array[i][array[i]['skill']!= unecessary_skills[j]]

- Let's sort the dataframes by the number of frequencies and drop empty columns.

In [15]:
for i in range(len(array)):
    array[i] = array[i].sort_values(by=['frequency'],ascending=False).reset_index()
    array[i] = array[i].dropna()
    array[i] = array[i].drop('index',axis=1)

In [16]:
#day-one dataframe after sorting
array[0].head()

         date        skill  frequency
0  2018-04-22  development        343
1  2018-04-22     security        223
2  2018-04-22     analysis        175
3  2018-04-22      testing        163
4  2018-04-22          sql        150

- In this function, we will be calculating the weight of each skill compared to the other skills so we can differentiate between the most and the least demanded skills, and calculate their ups and downs over time.

In [17]:
def calculate_weight(data):
    data_copy = data.copy()
    for i in range(len(data_copy)):
        sum_tfidf = data_copy[i]['frequency'].sum()
        arr = []
        for j in range(len(data_copy[i])):
            weight = data_copy[i].iloc[j]['frequency'] / sum_tfidf
            arr.append(weight)
        data_copy[i]['weight'] = arr
    return data_copy

In [18]:
weight_skills = calculate_weight(array)

- After calculating the weight for every skill, we will concatenate the array and append the result into a single dataframe. 
- The reason of the concatenation is that we want to store the dataframe into a MySql server so whenever a user needs an information about a specific skill, all information about that skill will be displayed into a chart-line.

In [19]:
concat_array_skills = pd.concat(weight_skills)

## All skills:
- In this section, we will create a connection with the local MySql server using the root username and the local host.
- Adding the above-concatenated table to the database will allow us to access all the data (Date, frequencies, and weight) that we need while displaying the chart.

In [20]:
engine = create_engine("mysql+mysqldb://root:98456292@127.0.0.1/dice")
#Sort by date for an ascending display in the chart-line
concat_to_db = concat_array_skills.sort_values(by='date')
concat_to_db = concat_to_db.reset_index().drop('index',axis=1)

- Let's now add the concatenated table into MySql using Pandas to_sql function.

In [21]:
concat_to_db.to_sql('all_skills_table', con=engine, if_exists='replace')

C:\Users\medSr\AppData\Local\Continuum\anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  cursor.execute(statement, parameters)

## Top 40 most frequent skills:

- After we concatenated all the skills together in a single dataframe, now we will go deeper and filter the skills by their frequencies.
- We will group the concatenated dataframe by the skill column.
- This section is meant to display to the user an updated list of the most in demand data science skills in the market. You may check the above screenshot to see what the list will look like.

In [22]:
grouped_skills = concat_to_db.groupby('skill').sum().reset_index()

- Now, we will be calculating the average weight of each skill not by day as we did above, but the average weight for each skill compared to all the skills present in the dataframe.
- With this method, we want to know which skill has the largest precentage within the sum of the weight to create a constant skill ranking.
- For example, if a specific skill loose frequency in a specific day, it does not mean that this skill will see its ranking drop.

In [23]:
weight_sum = grouped_skills['weight'].sum()
average_list=[]
for i in range(len(grouped_skills)):
    average_list.append(grouped_skills.iloc[i]['weight'] / weight_sum)
grouped_skills['average_weight'] = average_list

- We dont need the weight and frequency any more. The average weight is enough for later computation.

In [24]:
grouped_skills = grouped_skills.reset_index().drop(['weight','frequency'],axis=1)

- To be able to see and display the trends, we need to retrieve today's and yesterday's data. 
- The reason is that we want to display to the user the behavior of a particular skills in a single day. **(i.e, Today, the skill JAVA has dropped by a certain frequency compared to yesterday)**.

In [25]:
df_yesterday = weight_skills[len(weight_skills)-2]
df_yesterday = df_yesterday.rename(columns={'frequency':'frequency_yesterday'})
df_yesterday.head()

         date        skill  frequency_yesterday    weight
0  2018-05-08  development                  319  0.049198
1  2018-05-08      testing                  183  0.028223
2  2018-05-08     security                  181  0.027915
3  2018-05-08      systems                  180  0.027761
4  2018-05-08     analysis                  164  0.025293

In [26]:
df_today = weight_skills[len(weight_skills)-1]
df_today = df_today.rename(columns={'frequency':'frequency_today'})
df_today.head()

         date        skill  frequency_today    weight
0  2018-05-09  development              136  0.055038
1  2018-05-09     security              118  0.047754
2  2018-05-09      testing              101  0.040874
3  2018-05-09         http               85  0.034399
4  2018-05-09     analysis               83  0.033590

- Let's merge the today's and yestarday's dataframe together so we can compute the daily weights.

In [27]:
merged_today = df_today.merge(df_yesterday, on='skill',how='left')
# merge the today_yesterday dataframe with all the skills dataframe so 
#we can access the data for the 40 most frequent skills
merged = merged_today.merge(grouped_skills, on='skill', how='left')
merged.head()

,date_x,skill,frequency_today,weight_x,date_y,frequency_yesterday,weight_y,index,average_weight
0,2018-05-09,development,136,0.055038,2018-05-08,319.0,0.049198,263,0.059224
1,2018-05-09,security,118,0.047754,2018-05-08,181.0,0.027915,687,0.029391
2,2018-05-09,testing,101,0.040874,2018-05-08,183.0,0.028223,801,0.031357
3,2018-05-09,http,85,0.034399,2018-05-08,73.0,0.011258,371,0.018821
4,2018-05-09,analysis,83,0.033590,2018-05-08,164.0,0.025293,39,0.026978

- After we merge all skill dataframe, today's dataframe and yesterday's dataframe, we will sort the final table by average weight and drop the empty rows.

In [28]:
#Sort the dataframe by average weight so later we can just keep the 40 most frequent skills
merged = merged.sort_values(by='average_weight', ascending=False)
merged = merged.dropna()

In [29]:
#rename the columns for better dislay in the DB server
merged = merged.rename(columns={'date_x':'date_today', 'weight_x':'weight_today','weight_y':
                                            'weight_yesterday','date_y':'date_yesterday'})

- In the line of code below, we will be calculating the difference between today's and yesterday's frequency.
- If a skill has lost a frequency today, we will be displaying to the user a red narrow-down icon, and a green-up icon if it gained a frequency today.

In [30]:
merged['today_trend'] = merged['weight_today'] - merged['weight_yesterday']

- No need of frequencies after we calculated the trend.

In [31]:
merged = merged.drop(['frequency_today','frequency_yesterday'],axis=1)
# merged_today = merged_today[merged_today['word']!='nan']
merged['today_trend'] = round(merged['today_trend'],3)

In [32]:
for i in range(len(merged)):
    if merged['today_trend'].iloc[i] == -0:
        merged['today_trend'].iloc[i] = 0

C:\Users\medSr\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
# add the 40 most frequent skills in MySql server
merged = merged.reset_index()
merged= merged.drop(['index','level_0'],axis=1)
# Append to MySQl
merged[:39].to_sql('today_trend_skills', con=engine, if_exists='replace')

- Here is the snippet of the list that the user will be seeing. 
- When the user clicks on a skill from this list, a char-line of the same skill will be displayed from the data stored in "all list" table showing the frequency of the skill over a specific period.

In [34]:
merged[:39].head()

,date_today,skill,weight_today,date_yesterday,weight_yesterday,average_weight,today_trend
0,2018-05-09,development,0.055038,2018-05-08,0.049198,0.059224,0.006
1,2018-05-09,testing,0.040874,2018-05-08,0.028223,0.031357,0.013
2,2018-05-09,security,0.047754,2018-05-08,0.027915,0.029391,0.020
3,2018-05-09,analysis,0.033590,2018-05-08,0.025293,0.026978,0.008
4,2018-05-09,research,0.029947,2018-05-08,0.010179,0.022323,0.020

## 2. Cities Processing

- This section is meant to follow the same process as we did with the skills section. First, we will clean the data, then concatenate and save the output into a single dataframe, and finally, keep only the 40 most frequent locations/cities.

In [35]:
list_location = []
for i in range(len(split)):
    arr = []
    # 'Split' is the ouput list from the above function which allowed us to split the dataframe
    #into n dataframe according to the number of days.
    for j in split[i]['location']:
        processing_location = cleaning(j)
        arr.append(processing_location)
    list_location.append(arr)

- The function below will calculate the tfidf or frequency of a location among all the dataset.

In [36]:
#location frequency counter
def tfidf_location(data):
    docWordCounts= dict(Counter(data))
    df = {}
    for doc, wordCountDict in docWordCounts.items():

        df[doc] = wordCountDict

    return df

In [37]:
skills_tfidf_location = [tfidf_location(list_location[i])for i in range(len(list_location))]

- After we cleaned the location column from unwanted characters and calculated the frequency, we will change the format of the output into n dataframes which holds only the skills and their dates where n is the total number of days.

In [38]:
df_list = []
for i in range(len(split)):
    d={ 'frequency': skills_tfidf_location[i],'date':split[i].first_valid_index().date()}
    df_list.append(pd.DataFrame(data=d))

- Last polishing before further maneuvers.

In [39]:
for i in range(len(df_list)):
    df_list[i] = df_list[i].sort_values(by=['frequency'],ascending=False).reset_index()
    df_list[i] = df_list[i].dropna()
    df_list [i] = df_list[i].rename(columns={'index':'location'})
    #Keep on the cities that have a frequency greater than 1
    df_list[i] = df_list[i][df_list[i]['frequency']>1]
    #delete empty values which have not be dropped with dropna function
    df_list[i]  = df_list[i] [df_list[i] ['location'] !='']

- Weight calculation. Same as we did in the skills section.

In [40]:
weight_location = calculate_weight (df_list)

### All locations:

- We will be concatenating the list int a single dataframe

In [41]:
concat_location = pd.concat(weight_location)

In [42]:
concat_location = concat_location.sort_values(by='date', ascending=True)
concat_location_db = concat_location.reset_index().drop('index',axis=1)

- Add the concatenated table into the DB server

In [43]:
concat_location_db.to_sql('all_location_table', con=engine, if_exists='replace')

In [44]:
concat_location_db.head()

          location        date  frequency    weight
0    charlotte, nc  2018-04-22        113  0.246187
1  dfw airport, tx  2018-04-22          2  0.004357
2       denver, co  2018-04-22          2  0.004357
3      houston, tx  2018-04-22          2  0.004357
4    irwindale, ca  2018-04-22          2  0.004357

### 40 most frequent locations:

In [45]:
grouped_location = concat_location.groupby('location').sum().reset_index()

In [46]:
sum_weight = grouped_location['weight'].sum()
arr=[]
for i in range(len(grouped_location)):
    arr.append(grouped_location.iloc[i]['weight'] / sum_weight)
grouped_location['average_weight'] = arr

In [47]:
#We dont need the weight and frequency any more. The average weight is enough for later computation
grouped_location = grouped_location.reset_index().drop(['weight','frequency'],axis=1)

In [48]:
df_yesterday_location = weight_location[len(weight_location)-2]
df_yesterday_location = df_yesterday_location.rename(columns={'frequency':'frequency_yesterday'})
df_yesterday_location.head()

        location        date  frequency_yesterday    weight
0   new york, ny  2018-05-08                   42  0.051220
1  charlotte, nc  2018-05-08                   34  0.041463
2     austin, tx  2018-05-08                   25  0.030488
3    atlanta, ga  2018-05-08                   23  0.028049
4    chicago, il  2018-05-08                   19  0.023171

In [49]:
df_today_location = weight_location[len(weight_location)-1]
df_today_location = df_today_location.rename(columns={'frequency':'frequency_today'})
df_today_location.head()

          location        date  frequency_today    weight
0  albuquerque, nm  2018-05-09               37  0.081140
1     new york, ny  2018-05-09               28  0.061404
2     sterling, va  2018-05-09               24  0.052632
3       mclean, va  2018-05-09               24  0.052632
4    charlotte, nc  2018-05-09               17  0.037281

In [50]:
# Merge all the table together so we can have a consitent view
merged_location = grouped_location.merge(df_today_location, on='location', how='left')
merged_location = merged_location.merge(df_yesterday_location, on='location',how='left')

In [51]:
#Sort the dataframe by average weight so later we can just keep the 40 most frequent skills
merged_location = merged_location.sort_values(by='average_weight', ascending=False)
merged_location = merged_location.dropna()

In [52]:
merged_location = merged_location.rename(columns={'date_x':'date_today', 'weight_x':'weight_today','weight_y':
                                            'weight_yesterday','date_y':'date_yesterday'})

In [53]:
merged_location['today_trend'] = merged_location['weight_today']- merged_location['weight_yesterday']

In [54]:
merged_location = merged_location.drop(['frequency_today','frequency_yesterday'],axis=1)
merged_location['today_trend'] = round(merged_location['today_trend'],3)

In [55]:
for i in range(len(merged_location)):
    if merged_location['today_trend'].iloc[i] == -0.0:
        merged_location['today_trend'].iloc[i] = 0

C:\Users\medSr\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [56]:
merged_location = merged_location.reset_index()
merged_location = merged_location.drop(['index','level_0'],axis=1)

In [57]:
merged_location[:39].to_sql('today_trend_location', con=engine, if_exists='replace')

Displayed list

In [58]:
merged_location[:39].head()

,location,average_weight,date_today,weight_today,date_yesterday,weight_yesterday,today_trend
0,"new york, ny",0.043174,2018-05-09,0.061404,2018-05-08,0.051220,0.010
1,"charlotte, nc",0.041015,2018-05-09,0.037281,2018-05-08,0.041463,-0.004
2,"atlanta, ga",0.026730,2018-05-09,0.010965,2018-05-08,0.028049,-0.017
3,"chicago, il",0.025708,2018-05-09,0.017544,2018-05-08,0.023171,-0.006
4,"austin, tx",0.019725,2018-05-09,0.008772,2018-05-08,0.030488,-0.022

## 3. Salaries Processing
- In the last section of this Notebook, we would like to determine which cities pays the most to their data scientists. 
- We will calculate this through a period of time, and will then display the top 40 cities that pays the most according to **today's** data. 
- We will be calculating the average salary of each city in the U.S and plot the result in a chart-line as we did for the last two sections.

The `process_salary()` is a function that will help us separate the good data from the bad ones. The overall idea is to make sure that we are differentiating between the hourly, monthly and annual salary. Unfortunately, Dice allow employers only to enter manually the salary data.

We will be taking the following hypothesis to filter the output:

1) if salary in the column salary is less than 100, we will multiply the value by 1000 because some of the values are followed by K.

2) if salary is `<=` than 900, we will multiply the value by 1000 as the value is likely to be followed by K.

3) if salary is `<` than 40k, we will presume that the value is likely to be a short-term contract, so we will be eliminating those values.

4) if the salary is `>=` 300000, we will presume that there is a mistake in those value, we will be eliminating those values as well from our dataset.

In [59]:
def process_salary(data):
    df = data.copy()
    df= df.reset_index()
    df['salary'] = df['salary'].str.extract('(\d+)').dropna().astype(int)
    df = df[df['salary'] > 50]
    arr = []
    for i in range(len(df)):
        salary = df.iloc[i]['salary']
        if salary <= 900:
            salary = salary * 1000
        if salary >= 300000:
            salary = np.nan
        arr.append(salary)
    df['salary'] = arr
    df = df.dropna()
    df['salary'] = df.salary.astype(int)
    return df[['date_posted','location','salary']]

In [60]:
salary_process = [process_salary(split[i]) for i in range(len(split))]

C:\Users\medSr\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  after removing the cwd from sys.path.

### All salaries:

In [61]:
concat_salary = pd.concat(salary_process).reset_index().drop('index',axis=1)

In [62]:
#Process the salary table that holds all data
salary_table = concat_salary.groupby(['date_posted','location'])['salary'].mean()
salary_table = salary_table.reset_index()
#convert the date columnf into string data type
salary_table['date_posted'] = salary_table['date_posted'].dt.strftime('%Y-%m-%d')
salary_table['salary'] = salary_table['salary'].apply(lambda x : int(x))

In [63]:
salary_table.to_sql('salary_table',con=engine, if_exists='replace' )

### Top 40 paying cities TODAY:

In [64]:
today_salary = salary_process[len(salary_process)-1]
yesterday_salary= salary_process[len(salary_process)-2]
today_salary.head()

   date_posted             location  salary
32  2018-05-09  North Las Vegas, NV   70000
39  2018-05-09           Carson, CA   70000
43  2018-05-09       Cincinnati, OH   80000
50  2018-05-09         Kennesaw, GA   75000
71  2018-05-09           Irving, TX   55000

In [65]:
today_salary= today_salary.groupby(['date_posted','location'])['salary'].mean().reset_index()

In [66]:
today_data = salary_table.merge(today_salary, on='location', how='left')
today_data = today_data.dropna()

In [67]:
today_data = today_data.groupby('location')['salary_y'].mean().reset_index()

In [68]:
today_data = today_data.sort_values('salary_y',ascending= False)

In [69]:
today_data['salary_y'] = round(today_data['salary_y'])

In [70]:
today_data = today_data.rename({'salary_y':'today_salary'},axis=1)
today_data = today_data.reset_index().drop('index',axis=1)

In [71]:
today_data.to_sql('average_salary',con=engine, if_exists='replace' )

In [72]:
today_data.head()

         location  today_salary
0     Houston, TX      145451.0
1    New York, NY      111667.0
2     Decatur, GA      106914.0
3  Wilmington, DE      102073.0
4    Westlake, TX       90000.0

### Reference

Web Site template : https://themeforest.net/item/infinity-responsive-web-app-kit/16230780